{% extends 'base_admin.html' %}

{% block content %}


<div id="showpaper" style="margin-bottom: 5px:float:left">
    第<span id="span">{{ data['paper_num'] }}</span>期&nbsp;<a href="#" onclick="return modify('mo');"
        style="color: gray">[修改]</a>&nbsp;&nbsp;<input type="button" value="发布该一期" disabled='disabled'
            onclick="Issued('{{ data['paper_num'] }}',this);" style="height: 28px; width: 100px" /></div>

<div id="changepaper" style="display: none">
    <form onsubmit="return change()">
    <input type="text" maxlength="10" value="2014/11/24" style="width:120px;" readonly="readonly" name="newpaper_time" id="newpaper_time" onfocus="new Calendar().show(this);" />第<input type="text" style="width: 35px" name="newpaper_id" id="newpaper_id" value="{{ data['paper_num'] }}" />期&nbsp;&nbsp;&nbsp;
    <input type="submit" value="确定" />
    &nbsp;&nbsp;
    <button onclick="return modify('unmo');">
        取消</button></form>
</div>

<div style="margin-top: 8px">
    <button name="addpage" onclick="addpage('yes')" style="height: 28px; width: 100px">
        添加新一版</button>&nbsp;&nbsp;&nbsp;
    <button onclick="getpage('container/pagelist.aspx?paper_id=511')" style="height: 28px;
        width: 100px">
        刷新修改</button></div>
<div id="addpagediv" style="display: none; margin-top: 2px; margin-left: 20px">
    <form onsubmit="return addpage2()">
    <div>
        版数:<input type="text" id="page_num" name="page_num" style="width: 63px" />
        版名:<input type="text" id="page_name" name="page_name" style="width: 180px" /></div>
    <div style="margin-left: 15px">
        <input type="submit" value="确定" />&nbsp;&nbsp;
        <input type="button" value="取消" onclick="addpage('no')" /></div>
    </form>
</div>

<div style="margin-top: 10px;" class="clear">
    <div style="width: 210px; float: left; margin-right: 50px; margin-bottom: 20px">
        <div>
            <div style="float: left; height: 150px; width: 135px">
                <a href="page.aspx?page_id=1022" target="_blank">
                    <img src="pic/2014/11/1022.jpg                                                                                                                                                                                    " style="width: 135px; height: 150px; border: 0" /></a></div>
            <div style="height: 150px">
                <div>
                </div>
                <div>
                    <a href="page.aspx?page_id=1022" target="_blank">[编辑]</a></div>
                <div>
                    <a href="#" onclick="delete_page('1022','511');return false;">
                        [删除]</a></div>
            </div>
        </div>
        <div style="overflow: hidden;">
        <div id="showPageName3">
            4
            版：副刊&nbsp;&nbsp;<a href="#" onclick="document.getElementById('showPageName3').style.display='none';document.getElementById('editPageName3').style.display='block'" style="font-size:15px;color:Gray">[修改]</a></div>
            <div id="editPageName3" style="display:none"><form onsubmit="return ChangePageName('1022','511',document.getElementById('newPageNum3').value,document.getElementById('newPageName3').value)">新版数:<input type="text" id="newPageNum3" value="4" size="15"/><br />新版名:<input type="text" id="newPageName3" value="副刊" size="15" /><br /><input type="submit" value="确定" /><input type="button" value="取消" onclick="document.getElementById('editPageName3').style.display='none';document.getElementById('showPageName3').style.display='block'"/></form></div>
        </div>
    </div>

</div>

{% endblock %}