<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>编辑新一版</title>
<meta http-equive="Cache-Control" content="no-cache"/>
    <script type="text/javascript" src="js/HttpRequest.js"></script>

    <script src="fckeditor/fckeditor.js" type="text/javascript"></script>

</head>
<body onload="showarea('<%=page_id %>')">
    <div>
        <div>
            第<%=paper_num %>期
            <%=page_num  %>
            版:<%=page_name  %></div>
        <div>
            <form onsubmit="return pic_confirm()" action="" method="post"
            runat="server">
            <input type="hidden" value="<%=page_id %>" name="page_id" />
            <%if (pic_url != null && pic_url != "")
              {%>
            更改图片:
            <%}
              else
              { %>
            上传图片:
            <%} %>
            <input type="file" id="uppic" runat="server" />&nbsp;&nbsp;
            <input id="Submit2" type="submit" value="确定" runat="server" />
            <!--<span style="color: Red; font-size: 12px">注:更改图片会自动把该图片上的区域和文字新闻删除</span>-->
            </form>
            <!--input type="hidden" value="<%=((pic_url=="") ? "0" : page_id) %>" id="get_pid" /-->
        </div>
        <div style="display: <%=((pic_url=="") ? "none" : "block")%>; position: absolute;
            left: 10px; top: 80px">
            <div style="float: left; height: 597px; width: 409px; background: url(<%=pic_url %>);background-repeat:no-repeat;
                position: relative;" id="picdiv">
            </div>
            <div style="float: left">
                <div>
                    <button onclick="change('new')" style="height: 35px; width: 106px">
                        新添文章</button>
                    &nbsp;&nbsp;
                    <button onclick="change('old');getarticle('<%=paper_id %>','<%=page_id %>')" style="height: 34px;
                        width: 144px">
                        本期已有文章</button></div>
                <div id="edit">
                    <div id="newarticle">
                        <form id="send_form" action="" onsubmit="return send_arc('new','<%=page_id %>');">
                        <div style="margin-top: 5px">
                            标题:<input type="text" id="title" name="title" style="width: 190px" /></div>
                        <div style="margin-top: 5px">
                            引题:<input type="text" id="reply_title" name="reply_title" style="width: 190px" /></div>
                        <div style="margin-top: 5px">
                            副题:<input type="text" id="sub_title" name="sub_title" style="width: 190px" /></div>
                        <div style="margin-top: 5px">
                            作者:<input type="text" id="author" name="author" style="width: 190px" />
                            <input type="checkbox" value="true" name="show_author" id="show_author" />
                            <label for="show_author">
                                显示作者</label>
                            <input type="checkbox" value="true" name="pic_news" id="pic_news" />
                            <label for="pic_news">
                                图片新闻</label>
                            <input type="hidden" id="Nkeyword" name="Nkeyword" style="width: 190px" />
                            <!--<select id="show_author" name="show_author">
                                    <option value="false">否</option>
                                    <option value="true">是</option>
                                </select-->
                        </div>
                        <!--div style="margin-top: 5px">

                            </div>
                        <div style="margin-top: 5px">
                                是否为图文新闻:<select id="pic_news" name="pic_news">
                                    <option value="false">否</option>
                                    <option value="true">是</option>
                                </select></div-->
                        <div style="margin-top: 5px">
                            正文:</div>
                        <div>
                            <textarea rows="20" cols="60" id="content" name="content"></textarea></div>
                        <div style="margin-top: 5px">
                            <input type="submit" value="确定" id="sub" />&nbsp;&nbsp;&nbsp;
                            <input type="reset" value="重置" /></div>
                        </form>
                    </div>
                    <div id="oldarticle" style="display: none">
                    </div>
                </div>
                <div id="showarticle" style="display: none; width: 500px">
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    var contentEditor = new FCKeditor("content");
    contentEditor.BasePath = "fckeditor/";
    contentEditor.ToolbarSet = "Weekly";
    contentEditor.Width = 600;
    contentEditor.Height = 500;
    contentEditor.ReplaceTextarea();
</script>

<script type="text/javascript" src="js/drawrec.js"></script>

